/* 各瀏覽器預設格式不同所以reset 正式專案不會用 練習時用而已 */
*
{
    margin: 0;
    padding: 0;
}

.content-head
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:black;
    
}


.content-div-logo
{
    display: block;
    /* width: 100%; */
    /* background-color: chartreuse; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
}

.content-div-logo img
{
    /* background-color: crimson; */
}

.content-div-ul
{
    /* background-color: darkcyan; */
    /* display: block; */

}
.content-div-ul li
{
    
    display: inline-block;
    margin: 10px;
    color: white;
    font-size: 20px;
    font-family: Microsoft JhengHei;
}

.site-content
{
    /* background-color: darkblue; */
    background-image: url(../3月18切版商業計畫/picture/asset\ 48.jpeg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    align-items:center;
}